.quality4 {
	background-color: #90ff90;
}
.quality3 {
	background-color: #ffe867;
}
.quality2 {
	background-color: #b0b0ff;
}
.quality1 {
	background-color: #ffa0a0;
}
.quality0 {
	background-color: #ddd;
}
.quality {
	background-color: #efefef;
	color: blue;
}
.pagelist .label {
	color: #2a3133;
	display: inline-block;
}
.pagelist .current-page {
	background-color: #5bc0de;
}
textarea {
	font-family: WikisourceMono, monospace;
}
