<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PG2WS</title>
	{% block stylesheets %}
		<link rel="stylesheet" href="//tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" />
		<link rel="stylesheet" href="{{ siteUrl( 'style.css' ) }}" />
	{% endblock %}
	{% block scripts %}
		<script type="text/javascript" src="//tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script type="text/javascript" src="//tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{ siteUrl('script.js') }}" ></script>
	{% endblock %}
</head>
<body class="{{ user ? 'logged-in' : 'logged-out' }}">

<header class="container-fluid">
	<ul class="list-inline">
		<li><a href="{{siteUrl('')}}">PG2WS</a></li>
		<li>A tool for transferring Project Gutenberg ebooks to Wikisource</li>
		{% if user %}
			<li><a href="{{siteUrl('logout')}}">Log out</a></li>
			<li>You are logged in as {{ user.username }}</li>
		{% else %}
			<li><a href="{{siteUrl('oauth')}}">Log in</a></li>
		{% endif %}
	</ul>
</header>

<main class="container-fluid">
	{% block banners %}
		<section class="banners">
			{% block flashes %}
				{% if flash|default(false) %}
					{% if flash.error|default(false) %}
						<div class="alert alert-danger alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							{{ flash.error }}
						</div>
					{% endif %}
					{% if flash.success|default(false) %}
						<div class="alert alert-success alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							{{ flash.success }}
						</div>
					{% endif %}
					{% if flash.warning|default(false) %}
						<div class="alert alert-warning alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							{{ flash.warning }}
						</div>
					{% endif %}
					{% if flash.info|default(false) %}
						<div class="alert alert-info alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							{{ flash.info }}
						</div>
					{% endif %}
				{% endif %}
			{% endblock flashes %}
		</section>
	{% endblock %}

	{% block main %}
	{% endblock %}

</main>
</body>
</html>
