{% extends "base.html" %}

{% block main %}

<table class="table table-condensed table-striped">
	<thead>
	<tr>
		<th>Wikidata Item</th>
		<th>Wikidata Label</th>
		<th>PG ID</th>
		<th>Commons File</th>
		<th>Wikisource Index page</th>
		<th>Actions</th>
	</tr>
	</thead>
	<tbody>
	{% for book in books %}
	<tr>
		<td><a href="{{book.item}}">{{book.itemQnum}}</a></td>
		<td>{{book.itemLabel}}</td>
		<td><a href="http://www.gutenberg.org/ebooks/{{book.pgId}}">{{book.pgId}}</a></td>
		<td><a href="{{book.commonsFile}}">{{book.commonsFilename}}</a></td>
		<td class="quality{{book.quality}}">
			<a href="{{book.wikisourceIndex}}">{{book.wikisourceIndexTitle}}</a>
		</td>
		<td>
			{% if book.wikisourceIndex and book.quality != 4 %}
			<a href="{{siteUrl('transfer')}}?index={{book.wikisourceIndex|url_encode}}">Transfer</a>
			{% endif %}
		</td>
	</tr>
	{% endfor %}
	</tbody>
</table>

{% endblock %}
