{% extends "base.html" %}

{% block main %}

<p class="pagelist">
    <strong><a href="{{indexPage.url}}" title="Go to the Index page on Wikisource">{{indexPage.title}}</a>:&nbsp;&nbsp;</strong>
    {% for p in indexPage.pagelist %}
        {% if p.quality is empty %}
        <a href="{{siteUrl('transfer')}}?index={{indexPage.url|url_encode}}&page={{p.num}}"
           class="label quality {% if p.num == page.num %}current-page{% endif %}">
            {{p.label}}
        </a>
        {% else %}
        <span class="quality{{p.quality}} label label-warning" title="Please edit existing pages directly on Wikisource">
            {{p.label}}
        </span>
        {% endif %}
    {% endfor %}
    <em>Only non-existing pages are linked here; if there are no links here, you're all done!</em>
</p>

{% if page %}
<form action="{{siteUrl('transfer')}}#form" method="post" id="form">
    <input type="hidden" name="{{csrf_param}}" value="{{csrf_token}}" />
    <input type="hidden" name="index" value="{{indexPage.url}}" />
    <input type="hidden" name="page" value="{{page.num}}" />

    <div class="row">
        <div class="col-lg-4">
            <img src="https://{{pageImg}}" class="img-responsive" id="page-image" />
        </div>
        <div class="col-lg-4">
            <a href="{{page.url}}">{{page.title}}</a>
            <textarea class="form-control" rows="24" name="wstxt" id="wstxt"></textarea>
            <input type="submit" value="Upload to Wikisource" class="btn btn-info" />
            <a id="clean-up" class="btn btn-default">Clean up this text &uarr;</a>
        </div>
        <div class="col-lg-4">
            <a href="http://www.gutenberg.org/ebooks/{{pgId}}">Gutenberg ebook #{{pgId}}</a>
            <textarea class="form-control" rows="24" name="pgtxt" id="pgtxt">{{pgtxt}}</textarea>
            <a id="text-mover" class="btn btn-default">&larr; Move selected text</a>
        </div>
    </div>
</form>
{% endif %}

{% endblock %}
